body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#wordContainer {
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    max-width: 670px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 10px;
}

.word-container,
.word-definition-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.word-container {
    flex-wrap: wrap;
    border-bottom: 1px solid #ced4da;
    overflow-wrap: break-word;
}

.word,
.definition {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
}

#wordContainer p {
    margin: 0;
    white-space: normal;
}

.word {
    margin-right: 5px;
}

.word.highlighted {
    background-color: yellow;
    transition: background-color 2s;
}

.delete-button {
    max-width: 100px;
    margin-left: auto;
    margin-right: 5px;
}

.separator {
    color: gray;
}

.definition {
    margin-left: 5px;
}

button {
    white-space: nowrap;
}

.modal-body {
    white-space: pre-line;
}

.first-button,
.cutom-input {
    margin-top: 5px;
    margin-left: -5px;
}
